/* Day Planner */

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #000000 ;
  border-radius: 0;
  border-bottom: 10px solid black;
}

body {
  font-family: 'Raleway', sans-serif, Helvetica;
  font-size: 16px;
  line-height: 1;
}

.container {
  width: 100%;
  height: 100%;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  justify-content: center;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  padding-top: 15px;
  font-size: 20px;
  width:10vw;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  font-weight: bold;
  border-left: 1px solid black;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  padding: 10px;
  width: 55vw;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #9aa5c3;
  color: #ffffff;
}

.present {
  background-color: #729dbf;
  color: #ffffff;
}

.future {
  background-color: #4d6e9b;
  color: #ffffff;
}

.saveButton {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #d5d5d5;
  color: #ffffff;
  opacity: 1;
  font-size: 25px;
}

.saveButton:Hover {
  font-size: 30px;
  opacity: 0.6;
  transition: all .3s ease-in-out;
}

@media (max-width: 640px) {
.time-block {
 font-size: 15px;
 width: 10vw;
}
}